body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#nav-grid {
  width: min(90%, 75rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divider {
  border-bottom: solid;
  border-color: #8585854b;
  border-width: 0.5px;
}

#logo-text {
  color: #F42C04;
  margin: 0px;
} 

.selected {
  box-shadow: inset 0 -3px 0 0 #F42C04;
}

.below-nav-container {
  margin: auto;
  width:80%;
}

.statusMessage {
  margin-top:1em;
}

.highlight-text {
  color: #F42C04;  
}

#workout-schedule {
  display:grid;
  grid-template-columns: repeat(7, 1fr);
  width: min(90%, 75rem);
  margin-top: 2rem;
}

.workout-box {
  border-style: solid;
  height: 12.5em;
  width: 10em;
  border-radius: 20px;
  text-align: center;
  border-width: 3px;
  margin-bottom: 1em;
  margin-right: 0.5em;
}

.table-heading {
  width: 10em;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #0F1A20;
  color: white;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  padding-top:0.5em;
  margin-right: 1em;

}

.workout-title {
  margin-top:0px;
  margin-bottom:0px;
}

.workout-icon {
  height: 2em;
  width: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

.phase {
  font-size: 0.8em;
  text-align: center;
  
}

.heartrate-zone {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  text-align:center;
  margin-right: 3px;
  border: solid;
  border-width: 1px;
}

.complete {
  opacity: 0.2;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.btn {
  display: inline-block;
  background: #F42C04;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
  border:solid;
  border-width: 2px;
}

#plan-selector {
  display: grid;
  grid-template-columns: 10% 20% 35% 35%;
  width: min(90%, 75rem);
  margin-top: 2rem;
  gap: 10px;
}

.plan-item {
  margin: 1em;
}

.full {
  grid-column: 2/5;
}

.overlay-form-container {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 30em;
  height: 30em;
  text-align:center;
  background-color:#fff;
  z-index:99;
  border-style: solid;
}

.form-control {
  margin: 20px;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 80%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}