/* TODO - cleanup unneeded CSS */ 
:root {
  --theme-blue: #88A2AA;
  --theme-brown: #ADA296;
  --theme-faded-red: #E2856E; 
  --theme-red: #f42c04;
  --theme-black: #0F1A20;
  --workout-card-width: 9em;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Top navigation */ 
#nav-grid {
  width: min(90%, 75rem);
  display: flex;
  gap: 3em;
  align-items: center;
}

.divider {
  border-bottom: solid;
  border-color: var(--theme-brown);
  border-width: 2px;
  margin-top: 5px;
  opacity: 40%;
  margin-bottom: 1em;
}

#logo-text {
  color: var(--theme-black);
  margin: 0px;
} 

.selected {
  box-shadow: inset 0 -3px 0 0 var(--theme-red);
}

.below-nav-container {
  margin: auto;
  width:80%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--theme-black);
}

/* Status Message */ 

#plan-status{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1em;
  margin-bottom: 1em;
  justify-items: center;
  color: var(--theme-blue);
  font-weight: bold;
}

.msg-header{
  margin-bottom: 0.5em;
  font-size: 0.7em;
  opacity: 0.7;
}

.msg-data{
  font-size: 1.5em;
  opacity: 0.5;
}

/* Workouts Table */ 

#workout-schedule-container {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--workout-card-width), 7fr));
  width: min(100%, 90rem);
  margin-top: 1em;
  column-gap: 1em;
}

.workout-card {
  border-style: solid;
  height: 14.5em;
  width: var(--workout-card-width); /* Refactor - this is to mae sure the padding won't make header and cards mis-aligned */
  border-radius: 10px;
  padding-left: 15px;
  border-width: 2px;
  border-color: var(--theme-brown);
  margin-bottom: 1em;
  margin-right: 2em;
}

.workout-title {
  margin-top:0px;
  margin-bottom:0px;
  user-select: none;
}

.workout-icon {
  height: 2em;
  width: 2em;
  user-select: none;
  margin-top: 0.3em;
  margin-bottom: 0.2em;
  mix-blend-mode: multiply;

}

.phase {
  font-size: 0.7em;
  font-style: italic;
}

.complete {
  opacity: 0.2;
}

/* Heart rate zones circles */

.heart-rate-zone-small {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 1.7em;
  margin-right: 3px;
}

.heart-rate-zone-large {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 1em;
  padding: 2px;
}
.zone1, .zone2 {
  background-color: var(--theme-blue) 
}

.zone3, .zone4 {
  background-color: var(--theme-brown) 
}

.zone5 {
  background-color: var(--theme-faded-red);
}

/* Plan selector */

#plan-selector {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 3fr;
  width: min(90%, 75rem);
  margin-top: 1em;
  column-gap: 1em;
}

.table-heading {
  color: var(--theme-blue);
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.plan-item{
  font-size: 0.8em;
  margin-bottom: 5em;
  line-height: 1.7;
}


/* Form controls and buttons */

.overlay-form-container {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 30em;
  height: 30em;
  text-align:center;
  background-color:#fff;
  z-index:99;
  border-style: solid;
}

.form-control {
  margin-top: 2em;
}

.form-control label {
  display: block;
  margin-top: 0.5em;
}

.form-control input[type=text] {
  height: 1.5em;
  max-width: 50px;
}

.inline {
  display:inline;
}

.btn {
  display: block;
  background: var(--theme-red);
  border: none;
  margin: 5px;
  width: 6em;
  height: 2.5em;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
}

.full {
  grid-column: 2/5;
}


/* Accordion */
.accordion {
  background-color: var(--theme-black);
  color: #fff;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border-radius: 3px;
  text-align: left;
  border: none;
  font-family: inherit;
  margin-top: 0.5em;
}

.active, .accordion:hover{
  background-color: var(--theme-blue);
}

.panel {
  display:block;
}

.block {
  max-height: 10000px;
  transition: max-height 0.3s ease-in;
}

.none {
  max-height: 0px;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
}

.accordion:after {
  content: '+'; /* \02795 = Unicode character for "plus" sign (+) */
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "-"; /*  \2796 = Unicode character for "minus" sign (-) */
}

